.appHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 2rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.appHeader__title {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 300;
}

.appHeader__button {
  padding: 0 1rem;
}
