/* -------------------------------------------------------------------------- */
/* 단위                                                                        */
/* -------------------------------------------------------------------------- */

$rem-default-value: 10px;

/* -------------------------------------------------------------------------- */
/* 컬러                                                                        */
/* -------------------------------------------------------------------------- */

$primary-dark-color: #1b1b1b;
$primary-light-color: #fefefe;

$selection-background-color: #181d6e;
$selection-forground-color: #fff;

$tab-hilight-color: rgb(#ecedef, 0.3);

/* -------------------------------------------------------------------------- */
/* 테마                                                                        */
/* -------------------------------------------------------------------------- */

$theme: (
  light: (
    color: $primary-dark-color,
    background: $primary-light-color
  ),
  dark: (
    color: $primary-light-color,
    background: $primary-dark-color
  ),
);

/* -------------------------------------------------------------------------- */
/* 레이아웃                                                                     */
/* -------------------------------------------------------------------------- */

$layout: (
  container: (
    max-width: 96rem,
    margin: 0 auto
  )
);

/* -------------------------------------------------------------------------- */
/* 포커스 표시 상태                                                               */
/* -------------------------------------------------------------------------- */
$focusVisible: (
  outline: none, 
  border-radius: 2px, 
  box-shadow: 0 0 0 4px rgba(40, 70, 204, 0.9)
);